* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body {
  background-color: black;
  color: white;
}

header {
  background-color: whitesmoke;
  position: sticky;
  top: 0px;
  z-index: 10;
}

ul li a {
  font-size: 130%;
}


/*Contenido*/

.centrar {
  text-align: center;
}

.estiloTitulo {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

.estiloTitulo h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 70px;
  color: white;
}

.estiloSub {
  display: flex;
  font-size: 250%;
  font-family: 'Ubuntu Condensed', sans-serif;
  color: white;
  margin: 20px 0px;
  text-decoration: underline rgb(250, 250, 121);
}

.fotosIndex {
  width: 45%;
  border-radius: 10px;
  margin: 40px 60px;
}

.videoProfes {
  padding: 30px;
  width: 50%;
}

.parrafoIndex {
  width: 90%;
  font-size: 120%;
  text-align: justify;
  line-height: 30px;
  color: rgb(185, 181, 181);
}

.textoIndex {
  flex-direction: column;
}

strong {
  color: rgb(234, 234, 186);
}

strong:hover{
  font-size: 120%;
}
.carousel {
  display: flex;
  justify-content: space-evenly;
}

.carousel img {
  width: 100%;
}

.galeria img {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}

.seleccionModelo {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px;
}

.seleccionColores {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.titulosMaja {
  font-size: 120%;
  text-decoration: underline rgb(250, 250, 121);
}


.desplegable {
  width: 100%;
}

.contacto {
  display: flex;
  justify-content: space-evenly;
  line-height: 30px;
  font-size: 100%;
  margin-bottom: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  background-color: rgba(163, 159, 148, 0.466);
}

.datosContacto {
  display: flex;
  flex-direction: column;
}

.datosContacto input {
  width: 80%;
  transition: all 1s;
}

.datosContacto input:focus {
  width: 100%;
}

textarea {
  width: 80%;
  transition: all 2s;
}

textarea:focus {
  width: 100%;
}

.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.botones input {
  width: 20%;
}

.botones input:hover {
  border: solid green;
  font-weight: bold;
}

.checkbox {
  display: flex;
  margin: 10px;
}

.checkbox input {

  font-size: 20%;
  width: 20%;
}

.bailar {
  background-color: rgb(250, 250, 121);
  color: black;
  animation-name: titilar;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.articuloSuperior {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articuloSuperior div {
  display: flex;
  justify-items: center;
  align-items: flex-start;
}

.articuloInferior {
  display: flex;
  align-items: center;
  justify-content: center;
}

.articuloInferior div {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer {
  display: flex;
  color: black;
  background-color: whitesmoke;
  font-size: 90%;
  background-image: linear-gradient(to bottom, rgb(250, 240, 240), rgb(158, 150, 150));
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linksRedes {
  display: flex;
  flex-direction: row;
}

.redes a {
  text-decoration: none;
  color: black;
  font-size: 200%;
  line-height: 5%;
  padding: 0px 10%;
}

.redes a:hover {
  color: rgb(72, 72, 204)
}

.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Medida Tablet*/

@media screen and (max-width: 768px) {

  ul li a {
      font-size: 110%;
  }

  .estiloTitulo {
      display: flex;
      align-items: flex-end;
  }

  .estiloTitulo h1 {
      font-size: 250%;
      text-decoration: underline rgb(250, 250, 121);
  }

  .estiloSub {
      font-size: 120%;
      font-family: 'Ubuntu Condensed', sans-serif;
      color: white;
  }

  .fotosIndex {
      height: 20%;
      width: 82%;
      margin: 10px 0px;
      border-radius: 0px;
  }

  .videoProfes {
      padding-top: 10px;
      width: 80%;
      height: 350px;
  }

  .parrafoIndex {
      width: 100%;
      font-size: 100%;
      line-height: 120%;
  }

  aside {
      display: none;
  }

  .ubicacion iframe {
      width: 160px;
      height: 70px;
  }

  .articuloSuperior {
      flex-direction: column;
  }

  .articuloSuperior div {
      flex-direction: column;
  }

  .articuloInferior {
      flex-direction: column;
  }

  .articuloInferior div {
      flex-direction: column;
      align-items: flex-start;
  }

  .textoIndex {
      order: -1;
  }

  .footer {
      display: flex;
      justify-content: space-around;
      height: 100%;
      color: black;
      background-color: whitesmoke;
      font-size: 70%;
      background-image: linear-gradient(to bottom, rgb(250, 240, 240), rgb(158, 150, 150));
  }

  h4 {
      font-size: 15px;
  }


  /*Medida Mobile*/

  @media screen and (max-width: 480px) {

      ul li a {
          font-size: 100%;
      }

      .estiloTitulo {
          display: flex;
      }

      .estiloTitulo h1 {
          font-size: 180%;
      }

      .estiloSub {
          font-size: 110%;
          font-family: 'Ubuntu Condensed', sans-serif;
          color: white;
          margin: 10px 20px;
      }

      .fotosIndex {
          height: 60%;
          width: 100%;
          margin: 10px 0px;
          border-radius: 0px;
      }


      .videoProfes {
          padding-top: 10px;
          width: 100%;
          height: 350px;
      }

      .parrafoIndex {
          width: 90%;
          font-size: 85%;
          line-height: 15px;
          margin: 0px 20px;
      }

      aside {
          display: none;
      }

      .ubicacion iframe {
          width: 160px;
          height: 70px;
      }


      .articuloSuperior {
          flex-direction: column;
      }

      .articuloSuperior div {
          flex-direction: column;
          padding: 15px 0px;
      }

      .articuloInferior {
          flex-direction: column;
      }

      .articuloInferior div {
          flex-direction: column;
          align-items: flex-start;
          padding: 15px 0px;
      }

      .textoIndex {
          order: -1;
      }

      .titulosMaja {
          font-size: 100%;
          text-decoration: underline rgb(250, 250, 121);
      }

      .footer {
          display: flex;
          justify-content: space-around;
          height: 80%;
          color: black;
          background-color: whitesmoke;
          font-size: 70%;
          background-image: linear-gradient(to bottom, rgb(250, 240, 240), rgb(158, 150, 150));
          padding: 10px;
      }

      .footer div {
          padding: 10px;
          border-bottom: solid grey;
      }

      h4 {
          font-size: 18px;
      }

      .formulario {
          background-color: black;
          margin: 0px;
      }

      textarea {
          height: 50%;
      }
  }
}